.title{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
}
.header{
    height: 60px;
    width: 100%;
    background-color: rgb(0, 255, 42);
    color: black;
}
.row{
    display: flex;
}
.col{
    width: 50%;
}
.cards{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    margin: 10px 10px;

}
.childCards{
    height: 100px;
    width: 150px;
    background-color: burlywood;
    border: 1px solid red;
    border-radius: 5px;   
   
}